.sidebar{
    width: 20vw;
    position:fixed;
    top:1vh;
    /* height: 130vh; */
    /* border-style: solid; */
    float: left;
    border-style:solid;
    border-width:0.1vw;
    font-size:0.95vw;
    margin: 0;
    padding: 0;
    height: 98%;
    overflow: auto;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 1vw;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.3vw;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  
}

.active:after {
  content: "\2212";
}

.search, .deckBuilding {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.searchButton{
    width:18.5vw;
    height:3vw;
    font-size:1.5vw;
}
.advancedSearchButton{
    width:18.5vw;
    height:1.3vw;
    font-size:0.8vw;
}
.searchBar{
    width:18vw;
    height:1.05vw;
    font-size:0.95vw;
}
.searchRadio{
    width:0.8vw;
    height:0.8vw;
}
.decklist{
    height:auto;
}


.title {
    width: 75vw;
    float: right;
}
.cardGrid{
    width: 75vw;
    height: 130vh;
    /* border-style: solid; */
    float: right;
    margin: 0;
    padding: 0;
}
.cardAttackSpell{
    width: 24.1vw;
    height: 50%;
    float: left;
    border-style: solid;
    border-color:black;
    border-width: 0.2vw;
    background-color:rgb(140, 20, 20);
    margin: 0.25vw;
    overflow: hidden;
}
.cardCreature{
    width: 24.1vw;
    height: 50%;
    float: left;
    border-style: solid;
    border-color:black;
    border-width: 0.2vw;
    background-color:saddlebrown;
    margin: 0.25vw;
    overflow: hidden;
}
.cardConjuration{
    width: 24.1vw;
    height: 50%;
    float: left;
    border-style: solid;
    border-color:black;
    border-width: 0.2vw;
    background-color:green;
    margin: 0.25vw;
    overflow: hidden;
}
.cardEnchantment{
    width: 24.1vw;
    height: 50%;
    float: left;
    border-style: solid;
    border-color:black;
    border-width: 0.2vw;
    background-color:yellow;
    margin: 0.25vw;
    overflow: hidden;
}
.cardEquipment{
    width: 24.1vw;
    height: 50%;
    float: left;
    border-style: solid;
    border-color:black;
    border-width: 0.2vw;
    background-color:gray;
    margin: 0.25vw;
    overflow: hidden;
}
.cardIncantation{
    width: 24.1vw;
    height: 50%;
    float: left;
    border-style: solid;
    border-color:black;
    border-width: 0.2vw;
    background-color:purple;
    margin: 0.25vw;
    overflow: hidden;
}

.topBar{
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100%;
    height: 8%;
    border-bottom-style: solid;
}
.shortName{
    width: 53%;
    margin-left: 2%;
    float: left;
    color: white;
    font-size:1.5vw;
    font-weight: bold;
}
.mediumName{
    width: 53%;
    margin-left: 2%;
    float: left;
    color: white;
    font-size:1.2vw;
    font-weight: bold;
}
.longName{
    width: 53%;
    margin-left: 2%;
    float: left;
    color: white;
    font-size:0.9vw;
    font-weight: bold;
}
.typeSubclass{
    width: 43%;
    margin-right: 2%;
    float: right;
    text-align: justify;
    text-align-last: right;
    color: white;
    font-size:0.9vw;

}

.secondBar{
    width: 23.7vw;
    height: 9%;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    padding-top: 0.05vw;
    padding-bottom: 0.05vw; 
    border-bottom-style: solid;
    background-color: rgba(0, 0, 0, 0.3);

}
.cost{
    position: relative;
    text-align: center;
    color: white;
    float: left;
    width: 12%;
    /* margin-left: 2%; */
}
.manaCostImage{
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    float: left;
}
.manaCostText{
    color:white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.4vw;
    font-weight: bold;

}
.action{
    width:10%;
    position: relative;
    text-align: center;
    color: white;
    float: left;
    margin-left: 1%;
}
.range{
    position: relative;
    text-align: center;
    color: white;
    float: left;
    width: 10%;
    margin-left: 1%;
}
.rangeImage{
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    float: left;
}
.rangeText{
    color:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:0.75vw;
}
.target{
    width:35%;
    float: left;
    margin-left: 2%;
    color: white;
    font-size:1vw;
}
.level{
    width:30%;
    float: right;
    text-align: justify;
    text-align-last: right;
    font-size:1vw;
}





.middle{
    width: 100%;
    height: 28%;
    border-bottom-style: solid;
    position: relative;
}
.armor{
    position: absolute;
    bottom:26%;
    right:1%;
    text-align: center;
    color: white;
    height:22%;
}
.armorImage{
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    float: right;
}
.armorText{
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.3vw;
}
.life{
    position: absolute;
    bottom:2%;
    right:1%;
    text-align: center;
    color: white;
    height:22%;
}
.lifeImage{
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    float: right;
}
.lifeText{
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.3vw;
}
.defense{
    position: absolute;
    bottom:50%;
    right:1%;
    text-align: center;
    color: white;
    height:22%;
}
.raisedDefense{
    position: absolute;
    bottom:74%;
    right:1%;
    text-align: center;
    color: white;
    height:22%;
}
.unraisedDefense{
    position: absolute;
    bottom:2%;
    right:1%;
    text-align: center;
    color: white;
    height:22%;
}
.defenseImage{
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    float: right;
}
.defenseRollText{
    color:white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.1vw;
}
.defenseUsesText{
    color:white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:0.8vw;
}
.defenseAttackType{
    position: absolute;
    bottom:70%;
    right:1%;
    text-align: center;
    color: white;
    height:15%;
}
.unraisedDefenseAttackType{
    position: absolute;
    bottom:22%;
    right:0.77vh;
    text-align: center;
    color: white;
    height:15%;
}
.channeling{
    position: absolute;
    bottom:50%;
    right:1%;
    text-align: center;
    color: white;
    height:22%;
}
.raisedChanneling{
    position: absolute;
    bottom:74%;
    right:1%;
    text-align: center;
    color: white;
    height:22%;
}
.unraisedChanneling{
    position: absolute;
    bottom:2%;
    right:1%;
    text-align: center;
    color: white;
    height:22%;
}
.channelingImage{
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    float: right;
}
.channelingText{
    color:white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.3vw;
    text-shadow:
        -.05vw -.05vw 0 #000,
        .05vw -.05vw 0 #000,
        -.05vw .05vw 0 #000,
        .05vw .05vw 0 #000;

}





.bottom{
    width: 100%;
    height: 55%;
    overflow: hidden;
}
.attack{
    width: 23.7vw;
    height: 15%;
    border-bottom-style: solid;
    background-color:rgb(68, 68, 68);
    display: flex;
    align-items: center;    
    justify-content: center;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    padding-top: 0.05vw;
    padding-bottom: 0.05vw;
}

.attackTypeImage, .attackDice, .attackCost, .attackType, .attackDamageType, .attackEffect, .attackText, .attackTextCompressed, .attackTextDecompressed {
    margin-left: 2%;
}

.attackAction, .attackTypeImage, .attackCostImageContainer, .attackTypeImageContainer, .attackDice, .attackCost, .attackType, .attackDamageType {
    width: 9%;
}
.attackDice{
    margin-top: 1%;
}
.attackAction, .attackTypeImage, .attackCostImageContainer, .attackTypeImageContainer, .attackDice, .attackCost, .attackType{
    /* margin-top: 2%; */
    position: relative;
    text-align: center;
    color: white;
    float: left;

}

.attackCost, .attackType{
    float: left;
}


.attackDiceImage, .attackCostImageContainer, .attackTypeImageContainer{
    width: 100%;
}

.attackDiceText{
    color:white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.4vw;
    font-weight: bold;

}

.attackCostText, .attackTypeText{
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:0.7vw;
}

.attackDamageType{
    height:100%;
    float: left;
    color:white;
    display: flex;
    align-items: center;
    font-size:0.45vw;

}
.attackEffect{
    height:100%;
    width: 29%;
    float: left;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;    
    justify-content: center;
}
.attackEffectImage{
    /* margin-top: 7%; */
    width: 28%;
    float: left;
}
.attackEffectText{
    margin-left: 2%;
    width: 70%;
    height:100%;
    float: left;
    color:white;
    display: flex;
    align-items: center;
    font-size:0.7vw;
}
.attackText{
    /* width: 29%; */
    height:100%;
    float: left;
    color:white;
    display: flex;
    align-items: center;
    font-size:0.6vw;
}
.attackTextDecompressed{
    max-width: 65%;
    height:100%;
    float: left;
    color:white;
    display: flex;
    align-items: center;
    font-size:0.9vw;
}
.attackTextCompressed{
    /* width: 19%; */
    height:100%;
    float: left;
    color:white;
    display: flex;
    align-items: center;
    font-size:0.45vw;
}
.text{
    padding:1%;
    height:100%;
    font-size:1.2vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}